/* Configurações gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  body {
    background: linear-gradient(#6A0DAD, #008080);
    color: #6A0DAD;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    overflow-x: hidden;
  }
  
  /* Container principal */
  .registro-alimentos-container {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 60%;
    min-width: 500px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Títulos */
  h1 {
    font-size: 28px;
    color: #6A0DAD;
    margin-bottom: 20px;
  }
  
  /* Mensagens */
  .error {
    color: red;
    margin-bottom: 15px;
  }
  
  .success {
    color: green;
    margin-bottom: 15px;
  }
  
  /* Formulário */
  form {
    width: 100%;
  }
  
  .form-group {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .form-group label {
    font-weight: bold;
    color: #6A0DAD;
    margin-bottom: 5px;
    display: block;
  }
  
  .form-group input,
  .form-group select,
  .form-group textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #6A0DAD;
    border-radius: 20px;
    font-size: 16px;
    color: #6A0DAD;
    background-color: #F9F7FF;
    transition: all 0.3s ease-in-out;
  }
  
  textarea {
    resize: none;
    height: 100px;
  }
  
  input:focus,
  select:focus,
  textarea:focus {
    outline: none;
    border-color: #8B2BBF;
    background-color: #F3EBFF;
  }
  
  /* Inputs pequenos */
  .small-input {
    max-width: 80%; /* Largura ajustada para inputs lado a lado */
    display: inline-block;
  }
  
  /* Linha de inputs */
  .form-group-row {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Espaço entre os inputs */
  }
  
  /* Botões */
  .btn {
    width: 90%;
    padding: 12px;
    background-color: #6A0DAD;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(106, 13, 173, 0.3);
  }
  
  .btn:hover {
    background-color: #8B2BBF;
    box-shadow: 0 6px 15px rgba(139, 43, 191, 0.5);
  }
  
  .btn-back {
    background-color: transparent;
    color: #6A0DAD;
    border: 2px solid #6A0DAD;
    margin-top: 15px;
    border-radius: 20px;
  }
  
  .btn-back:hover {
    background-color: #6A0DAD;
    color: white;
  }
  
  .btn-edit {
    font-size: 14px;
    padding: 8px 12px;
    align-self: flex-start;
  }
  
  /* Responsividade */
  @media screen and (max-width: 768px) {
    .registro-alimentos-container {
      width: 90%;
      padding: 20px;
    }
  
    .form-group-row {
      flex-direction: column;
      gap: 0;
    }
  
    .small-input {
      width: 100%;
      margin-bottom: 10px;
    }
  
    .btn {
      font-size: 16px;
      padding: 10px;
    }
  }
  